.project-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.project-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  gap: 12px;
}

.gallery-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}
