<section class="imprint">
  <mat-card class="imprint-card">
    <h2 class="imprint-title">{{ 'IMPRINT.TITLE' | translate }}</h2>

    <div class="imprint-section">
      <p class="imprint-label">{{ 'IMPRINT.PARAGRAPH' | translate }}</p>

      <p>
        Andreas Dahm<br />
        Bgm.-Germeier-Str. 2<br />
        85586 Poing<br />
        {{ 'IMPRINT.COUNTRY' | translate }}
      </p>
    </div>

    <div class="imprint-section">
      <p class="imprint-label">{{ 'IMPRINT.CONTACT' | translate }}</p>
      <p>
        E-Mail:
        <a href="mailto:andreas&#46;dahm&#64;gmail&#46;com">
          andreas&#46;dahm&#64;gmail&#46;com
        </a>
      </p>
    </div>
  </mat-card>
</section>
